## Operators in python

In [1]:
x=2
x+=2
print(x)

4

In [2]:
x*=4

In [3]:
x

16

In [4]:
a,b=5,6

In [5]:
a

5

In [6]:
b

6

### Unary Operator

In [7]:
n=3
n=-n
print(n)

-3

### Logical and relational operators

In [8]:
a<b

True

In [9]:
a>b

False

In [10]:
a==b

False

In [11]:
a=6
a==b

True

In [12]:
a<=b

True

In [13]:
a=7
a<=b

False

In [14]:
a!=b

True

In [15]:
x,y=5,3

In [16]:
x<6 and y>2

True

In [17]:
x<6 or y>2

True

In [19]:
x=True
not x

False

## Number system conversion

In [21]:
bin(15)

'0b1111'

In [24]:
oct(25)

'0o31'

In [25]:
hex(15)

'0xf'

### Swapping variables in python

In [31]:
a=5
b=6
temp=a
a=b
b=temp

print(a)
print(b)

6
5

In [32]:
x,y=3,4
x=x+y
y=x-y
x=x-y
print(x)
print(y)

4
3

## Bitwise operators

In [1]:
~12

-13

In [2]:
~1

-2

In [3]:
1&0

0

In [4]:
12 & 13

12

In [6]:
1|1

1

In [7]:
12|13

13

In [15]:
1100 &  1

0

In [16]:
1 ^ 1

0

In [17]:
1^0

1

In [18]:
11^00

11

### Importing math functions

In [22]:
import math
x=math.sqrt(25)
print(x)

5.0

In [24]:
x=math.floor(2.4)
print(x)

2

In [25]:
a=math.ceil(2.3)
a

3

In [26]:
print(math.pow(3,4))

81.0

In [27]:
print(math.pi)

3.141592653589793

In [28]:
print(math.e)

2.718281828459045

### Alias

In [29]:
import math as m
m.sqrt(9)

3.0

In [30]:
from math import sqrt, pow

In [31]:
print(pow(2,2))

4.0

### User input in python

### By default, input gives string format

In [4]:
x=input('enter first number')
print(x)
print(type(x))

enter first number1
1
<class 'str'>

In [3]:
x=input('enter first number')
a=int(x)
y=input('enter second number')
b=int(y)
z=a+b
print(z)

enter first number1
enter second number2
3

In [6]:
a=int(input('enter a number'))
print(a)
print(type(a))

enter a number2
2
<class 'int'>

In [7]:
ch=input('enter a character')
print(ch)

enter a characterwer4
wer4

In [8]:
ch=input('enter a character')[0]
print(ch)

enter a characterert45838
e

In [9]:
result=eval(input('enter the expression'))
print(result)

enter the expression5-6*6
-31