# pandas tutorial
## Pandas is an open source, BSD-licensed library providing high-performance, easy-to-use data structures and data analysis tools for the Python programming language

In [4]:
import pandas as pd
import numpy as np

In [6]:
df=pd.DataFrame(np.arange(0,20).reshape(5,4),index=['row1','row2','row3','row4','row5'],columns=['column1','column2','column3','column4'])

In [7]:
df.head()

      column1  column2  column3  column4
row1        0        1        2        3
row2        4        5        6        7
row3        8        9       10       11
row4       12       13       14       15
row5       16       17       18       19

In [8]:
df.to_csv('Test1.csv')

In [10]:
type(df.loc['row1'])

pandas.core.series.Series

In [16]:
df.iloc[:,1:].values.shape

(5, 3)

In [17]:
df.isnull().sum()

column1    0
column2    0
column3    0
column4    0
dtype: int64

In [18]:
df

      column1  column2  column3  column4
row1        0        1        2        3
row2        4        5        6        7
row3        8        9       10       11
row4       12       13       14       15
row5       16       17       18       19

In [20]:
df['column1'].unique()

array([ 0,  4,  8, 12, 16])

In [22]:
type(df['column4'])

pandas.core.series.Series