In [1]:
type(True)

bool

In [2]:
type(False)

bool

In [18]:
my_str='hello123?'

In [19]:
my_str.istitle()

False

# Boolean and Logical operators

In [20]:
True and True

True

In [21]:
True or False

True

In [22]:
False and True

False

In [24]:
str_example='Hello w5orld'
my_str='Manish'
my_str.isalpha() or str_example.isnumeric()

True

# Lists

In [25]:
type([])

list

In [26]:
firstexample=[]
type(firstexample)

list

In [27]:
lst=list()
type(lst)

list

In [29]:
len(lst)

5

# Append

In [30]:
lst.append('manish')

In [31]:
lst

['man', 'wild', 100, 200, 300, 'manish']

In [35]:
lst[0]

'man'

In [37]:
lst[5]

'manish'

In [38]:
lst[1:5]

['wild', 100, 200, 300]

In [39]:
lst.append(['john','bala'])
lst

['man', 'wild', 100, 200, 300, 'manish', ['john', 'bala']]

In [40]:
lst.insert(0,'mohan')
lst

['mohan', 'man', 'wild', 100, 200, 300, 'manish', ['john', 'bala']]

# Extend method

In [41]:
lst=[1,2,3,4,5,6]
lst.extend([8,9])
lst

[1, 2, 3, 4, 5, 6, 8, 9]

## Various operations that we can perform in List

In [42]:
lst

[1, 2, 3, 4, 5, 6, 8, 9]

In [43]:
sum(lst)

38

In [44]:
lst.pop()

9

In [45]:
lst

[1, 2, 3, 4, 5, 6, 8]

In [46]:
lst.pop(0)

1

In [47]:
lst

[2, 3, 4, 5, 6, 8]

In [49]:
lst=[1,1,2,3,3,3,4,4,5]
lst.count(3)

3

In [50]:
lst.index(3)

3

In [51]:
min(lst)

1

In [52]:
max(lst)

5

In [53]:
lst*3

[1,
 1,
 2,
 3,
 3,
 3,
 4,
 4,
 5,
 1,
 1,
 2,
 3,
 3,
 3,
 4,
 4,
 5,
 1,
 1,
 2,
 3,
 3,
 3,
 4,
 4,
 5]

In [1]:
pwd

'C:\\Users\\manish'