#  String operations

In [1]:
message='hello world'
message=message.replace('world','you')
print(message)

hello you

# A method is a function that belongs to an object

In [2]:
greeting='hello'
name='Manish'

print(dir(name))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [3]:
print(help(str.upper))

Help on method_descriptor:

upper(self, /)
    Return a copy of the string converted to uppercase.

None

# working with numeric data

In [4]:
n=1.00
print(3%2)

1

In [5]:
num=6
num*=2
print(num)

12

In [39]:
print(abs(-98))

98

In [40]:
print(round(3.5))

4

In [41]:
print(round(4.569,2))

4.57

In [44]:
num1=2
num2=3
print(num1<num2)

True

In [46]:
num1=int('100')
num2=float('200')
print(num1+num2)

300.0

# Lists, Tuples and Sets

In [61]:
courses1=['physics','chemisty','biology']
courses2=['art']
courses.insert(0,courses2)
print(courses)

[['art'], ['art'], 'maths', 'physics', 'chemisty', 'biology', 'art']

In [82]:
course1=['physics','chemistry','biology','gastronomy']
for item in course1:
    print(item)

physics
chemistry
biology
gastronomy

In [83]:
num=[1,2,5,6,3]
s=min(num)
l=max(num)
print(num)
print(s)
print(l)
Sum=sum(num)
print(Sum)

[1, 2, 5, 6, 3]
1
6
17

In [88]:
course=['small','is','big']
course_str=', '.join(course)
new=course_str.split(', ')
print(new)

['small', 'is', 'big']

## Tuple is similar to list, but we can not modify tuple i.e. tuples are immutable

In [91]:
tuple1=('art','history','physics','chemistry')
tuple2=tuple1
print(tuple1)
print(tuple2)

('art', 'history', 'physics', 'chemistry')
('art', 'history', 'physics', 'chemistry')

# Sets 
## values that are unordered and also have no duplicates

In [5]:
courses1={'history','science','arts','physics'}
courses2={'history','humanities','sinology','physics'}
print(courses1.union(courses2))
#print(type(courses))

{'history', 'science', 'sinology', 'humanities', 'arts', 'physics'}

In [6]:
empty_list=[]
empty_list1=list()
empty_tuple=()
empty_tuple1=tuple()
#empty_set={}
empty_set1=set()
print(empty_list)

[]

# Dictionaries

In [30]:
student={'name':'john','age':34,"courses":['maths','science']}
#print(student['courses'])
student['phone']='09842078427'
student.update({'name':'mahara','phone':'9843598382'})
for key,values in student.items():
    print(key,values)

name mahara
age 34
courses ['maths', 'science']
phone 9843598382

# Conditions and boolean

In [32]:
if False:
    print('condition was true')

In [37]:
language='pytho'
if language=='python':
    print('language is python')
elif language=='pytho':
    print('language is pytho')
else:
    print('language is not python')

language is pytho

In [42]:
user='admin0'
logged_in=False
if not logged_in:
    print('Plese log in')
else:
    print('bad cred')

Plese log in

In [48]:
a=[1,2,3]
b=a
print(id(a))
print(id(b))
print(a is b)

19420840
19420840
True

In [54]:
condition={1}
if condition:
    print('Evaluated to true')
else:
    print('Evaluated to false')

Evaluated to true

# Loops and iterations

In [58]:
nums=[1,2,3,5,6,"manis"]
for n in nums:
    if n==5:
        print('found!')
        continue
    print(n)

1
2
3
found!
6
manis

In [60]:
for i in range(1,5):
    print(i)

1
2
3
4

In [62]:
x=0
while x<10:
    if x==5:
        break
    print(x)
    x+=1

0
1
2
3
4

# Functions

In [63]:
def hello_func():
    print('i am the function')
hello_func()

i am the function

In [7]:
def hello_func(greeting,name='you'):
    return '{},{} '.format(greeting,name)
print(hello_func('hi'))

hi,you

In [12]:
def student_info(*args, **kwargs):
    print(args)
    print(kwargs)
courses=['math','art']
info={'name':'manish','age':24}
student_info(*courses,**info)

('math', 'art')
{'name': 'manish', 'age': 24}

# Leap Year program

In [15]:
month_days=[0,31,28,31,30,31,30,31,31,30,31,30,31]
def is_leap(year):
    return year% 4==0 and (year%100!=0 or year%400==0)
def days_in_month(year,month):
    if not 1<=month<=12:
        return 'invalid Month'
    if month==2 and is_leap(year):
        return 29
    return month_days[month]
print(days_in_month(2020,6))

30

# Importing modules

'C:\\Users\\manish'